.container{
    padding: 0;
    margin: 0 auto;
}

.container a {
    width: 45%;
    max-width: 250px;
}

.container div {
  /*width: 250px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.container img {
    width: 100%;
    border-radius: 1rem;
}


