{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projectappcss/detail.css' %}?after">
<link rel="stylesheet" href="{% static 'css/articleappcss/list.css' %}?after">
{% endblock %}


{% block content %}

<div>
    <div class="projectapp_content_detail">

        <img class="projectapp_profile_image" src="{{ target_project.image.url }}" alt="">
        <h2>
            {{ target_project.title }}
        </h2>
        <h5>
            {{ target_project.description }}
        </h5>
    </div>

    <div class="text-center mb-5">
        {% if user.is_authenticated %}
            {% if not subscription %}
            <a class="btn btn-primary rounded-pill px-4" href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}">
                Subscribe
            </a>
            {% else %}
            <a class="btn btn-danger rounded-pill px-4" href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}">
                Unsubscribe
            </a>
            {% endif %}
        {% endif %}
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
</div>


{% endblock %}